In [3]:
import pandas as pd
import seaborn as sns

In [4]:
df = pd.read_csv('https://cliente.imagepat.com.br/smoking_driking_dataset_Ver01.csv')

In [5]:
df

,sex,age,height,weight,waistline,sight_left,sight_right,hear_left,hear_right,SBP,...,LDL_chole,triglyceride,hemoglobin,urine_protein,serum_creatinine,SGOT_AST,SGOT_ALT,gamma_GTP,SMK_stat_type_cd,DRK_YN
0,Male,35,170,75,90.0,1.0,1.0,1.0,1.0,120.0,...,126.0,92.0,17.1,1.0,1.0,21.0,35.0,40.0,1.0,Y
1,Male,30,180,80,89.0,0.9,1.2,1.0,1.0,130.0,...,148.0,121.0,15.8,1.0,0.9,20.0,36.0,27.0,3.0,N
2,Male,40,165,75,91.0,1.2,1.5,1.0,1.0,120.0,...,74.0,104.0,15.8,1.0,0.9,47.0,32.0,68.0,1.0,N
3,Male,50,175,80,91.0,1.5,1.2,1.0,1.0,145.0,...,104.0,106.0,17.6,1.0,1.1,29.0,34.0,18.0,1.0,N
4,Male,50,165,60,80.0,1.0,1.2,1.0,1.0,138.0,...,117.0,104.0,13.8,1.0,0.8,19.0,12.0,25.0,1.0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
991341,Male,45,175,80,92.1,1.5,1.5,1.0,1.0,114.0,...,125.0,132.0,15.0,1.0,1.0,26.0,36.0,27.0,1.0,N
991342,Male,35,170,75,86.0,1.0,1.5,1.0,1.0,119.0,...,84.0,45.0,15.8,1.0,1.1,14.0,17.0,15.0,1.0,N
991343,Female,40,155,50,68.0,1.0,0.7,1.0,1.0,110.0,...,77.0,157.0,14.3,1.0,0.8,30.0,27.0,17.0,3.0,Y
991344,Male,25,175,60,72.0,1.5,1.0,1.0,1.0,119.0,...,73.0,53.0,14.5,1.0,0.8,21.0,14.0,17.0,1.0,N
991345,Male,50,160,70,90.5,1.0,1.5,1.0,1.0,133.0,...,153.0,163.0,15.8,1.0,0.9,24.0,43.0,36.0,3.0,Y

In [ ]:
df.shape

(991346, 24)

In [ ]:
# Devido ao tamanho do dataset, iremos trabalhar com uma amostra representativa dele (20%)
# Ao fazer as análises necessárias e fazer com que um modelo trabalhe bem em cima desse sample,
# faremos com que ele rode em cima de todos os dados e avaliaremos sua performance.

df_20 = df.sample(frac=0.2)
df_20

,sex,age,height,weight,waistline,sight_left,sight_right,hear_left,hear_right,SBP,...,LDL_chole,triglyceride,hemoglobin,urine_protein,serum_creatinine,SGOT_AST,SGOT_ALT,gamma_GTP,SMK_stat_type_cd,DRK_YN
328185,Female,45,155,55,75.0,1.2,0.9,1.0,1.0,121.0,...,79.0,42.0,10.7,1.0,0.6,24.0,22.0,23.0,1.0,N
753732,Male,60,175,85,88.0,1.0,1.2,1.0,1.0,99.0,...,127.0,98.0,13.7,1.0,0.7,29.0,25.0,25.0,2.0,N
199713,Female,25,160,50,69.9,1.5,1.5,1.0,1.0,101.0,...,78.0,81.0,13.5,1.0,0.9,18.0,10.0,16.0,1.0,Y
125816,Male,40,165,65,75.0,1.2,1.2,1.0,1.0,110.0,...,87.0,464.0,16.0,1.0,0.8,46.0,44.0,202.0,3.0,Y
294162,Male,50,160,60,89.0,1.2,1.2,1.0,1.0,156.0,...,118.0,171.0,14.9,1.0,0.7,25.0,31.0,39.0,3.0,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224227,Male,40,170,75,83.3,1.2,0.7,1.0,1.0,110.0,...,213.0,195.0,14.7,1.0,0.9,28.0,20.0,101.0,3.0,Y
91908,Male,30,175,65,75.0,1.0,0.9,1.0,1.0,119.0,...,101.0,124.0,13.8,1.0,0.9,14.0,8.0,11.0,3.0,N
614449,Male,45,165,65,76.0,1.0,1.2,2.0,2.0,100.0,...,129.0,383.0,15.3,1.0,0.9,25.0,25.0,49.0,2.0,Y
984705,Female,50,155,45,71.0,0.8,0.8,1.0,1.0,147.0,...,157.0,134.0,15.3,1.0,0.5,21.0,26.0,40.0,1.0,N
939349,Female,65,145,45,74.0,0.8,0.2,1.0,1.0,132.0,...,128.0,74.0,13.1,1.0,0.8,21.0,14.0,28.0,1.0,N

Iniciaremos com uma anáise dos dados para depois prosseguirmos com uma preparação dos dados e treinamento de um modelo

In [ ]:
df.dtypes

sex                  object
age                   int64
height                int64
weight                int64
waistline           float64
sight_left          float64
sight_right         float64
hear_left           float64
hear_right          float64
SBP                 float64
DBP                 float64
BLDS                float64
tot_chole           float64
HDL_chole           float64
LDL_chole           float64
triglyceride        float64
hemoglobin          float64
urine_protein       float64
serum_creatinine    float64
SGOT_AST            float64
SGOT_ALT            float64
gamma_GTP           float64
SMK_stat_type_cd    float64
DRK_YN               object
dtype: object

Os dados de todas as colunas são do tipo numérico, com exceção da coluna `sexo` e da coluna `Bebe_SN`.

In [ ]:
sns.pairplot(df)